<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <!-- Twitter Bootstrap -->
    <link href="~/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="~/stylesheets/responsive.css" rel="stylesheet" />
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="~/js/rs-plugin/css/settings.css" type="text/css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" />
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="~/js/prettyphoto/css/prettyPhoto.css" type="text/css" />
    <!-- main styles -->

    <link href="~/stylesheets/main.css" rel="stylesheet" />
    <title>Free Snow Bootstrap Website Template | Home :: w3layouts</title>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/js/jquery.min.js"></script>
    <!--<script src="js/jquery.easydropdown.js"></script>-->
    <!--start slider -->
    <link rel="stylesheet" href="~/css/fwslider.css" media="all">
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/fwslider.js"></script>
    <!--end slider -->
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-left">
                        <div class="logo">
                            <a href="index.html"><img src="~/images/logo2.jpg" width="65" height="65" alt="" /></a>
                        </div>
                        <div class="menu">
                            <a class="toggleMenu" href="#"><img src="~/images/nav.png" alt="" /></a>
                            <ul class="nav" id="nav">
                                <li><a href="shop.html">PRODUCTOS</a></li>
                                <li><a href="team.html">EQUIPO</a></li>
                                @*<li><a href="experiance.html">Events</a></li>
                                <li><a href="experiance.html">Experiance</a></li>
                                <li><a href="shop.html">Company</a></li>*@
                                <li><a href="contact.html">CONTACTO</a></li>
                                <div class="clear"></div>
                            </ul>
                            <script type="text/javascript" src="~/js/responsive-nav.js"></script>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_right">


                        <!-- start search-->

                        @*<div class="search-box">
                            <div id="sb-search" class="sb-search">

                                <form>
                                    <input class="sb-search-input" placeholder="Ingrese su término de búsqueda" type="search" name="id" id="search">
                                    <input class="sb-search-submit" type="submit" value="">
                                    <span class="sb-icon-search"> </span>
                                </form>
                                                       
                            </div>
                        </div>


                        --search-scripts--
                        <script src="~/js/classie.js"></script>
                        <script src="~/js/uisearch.js"></script>
                        <script>
							new UISearch( document.getElementById( 'sb-search' ) );
                        </script>*@

                        <form class="navbar-form pull-right" action="@Url.Action("Buscar","Home")" method="get">
                            <button type="submit"><spam class="icon-search"></spam></button>
                            <input type="text" class="span1" name="id" id="navSearchInput" />
                        </form>
                       

                         <!----//search-scripts---->
                        
                        <!--  = Cart =  -->
                        <!--  ==========  -->
                        <div class="span3">
                            <div class="cart-container" id="cartContainer">
                                <div class="cart">
                                    <p class="items">CART <span id="nroProductosCarrito" class="dark-clr">(0)</span></p>
                                    <p id="totalCompraCarrito" class="dark-clr hidden-tablet">S/. 0.00</p>
                                    <a href="checkout-step-1.html" class="btn btn-danger">
                                        <!-- <span class="icon icons-cart"></span> -->
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                </div>
                                <div class="open-panel">

                                    <div id="itemcarrito"></div>

                                    <div class="summary">
                                        <div class="line">
                                            <div class="row-fluid">
                                                <div class="span6">TOTAL:</div>
                                                <div id="totalCarrito" class="span6 align-right size-16">S/. 0.00</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="proceed">
                                        <a href="@Url.Action("Paso1","Compra")" class="btn btn-danger pull-right bold higher">PAGAR <i class="icon-shopping-cart"></i></a>
                                        <small>Shipping costs are calculated based on location. <a href="#">More information</a></small>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /cart -->


                    </div>
                </div>
            </div>
        </div>
    </div>
    
@RenderBody()

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Niveles</h4>
                        <li><a href="#">Bachillerato</a></li>
                        <li><a href="#">Licenciatura</a></li>
                        <li><a href="#">Maestría</a></li>
                        <li><a href="#">Doctorado</a></li>
                        <li><a href="#">Segunda especialidad</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Acerca de</h4>
                        <li><a href="#">Carreras y áreas</a></li>                        
                        <li><a href="#">Grupo de Trabajo</a></li>
                        <li><a href="#">Catálogo</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Soporte al cliente</h4>
                        <li><a href="#">Contáctanos</a></li>
                        <li><a href="#">Trabaja con nosotros</a></li>
                       
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="footer_box">
                        <h4>Novedades</h4>
                        <div class="footer_search">
                            <form>
                                <input type="text" value="Ingresa tu email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
                                <input type="submit" value="Ir">
                            </form>
                        </div>
                        <ul class="social">
                            <li class="facebook"><a href="#"><span> </span></a></li>
                            <li class="twitter"><a href="#"><span> </span></a></li>
                            <li class="instagram"><a href="#"><span> </span></a></li>
                            <li class="pinterest"><a href="#"><span> </span></a></li>
                            <li class="youtube"><a href="#"><span> </span></a></li>
                        </ul>

                    </ul>
                </div>
            </div>
            <div class="row footer_bottom">
                <div class="copy">
                    <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
                </div>
                <dl id="sample" class="dropdown">
                    <dt><a href="#"><span>Change Region</span></a></dt>
                    <dd>
                        <ul>
                            <li><a href="#">Australia<img class="flag" src="~/images/as.png" alt="" /><span class="value">AS</span></a></li>
                            <li><a href="#">Sri Lanka<img class="flag" src="~/images/srl.png" alt="" /><span class="value">SL</span></a></li>
                            <li><a href="#">Newziland<img class="flag" src="~/images/nz.png" alt="" /><span class="value">NZ</span></a></li>
                            <li><a href="#">Pakistan<img class="flag" src="~/images/pk.png" alt="" /><span class="value">Pk</span></a></li>
                            <li><a href="#">United Kingdom<img class="flag" src="~/images/uk.png" alt="" /><span class="value">UK</span></a></li>
                            <li><a href="#">United States<img class="flag" src="~/images/us.png" alt="" /><span class="value">US</span></a></li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <script src="~/js/custom.js" type="text/javascript"></script>
    <script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargaCarrito(productos);
            }
        });

        function CargaCarrito(productos) {
            var html = '';
            var total = 0;

            $("#nroProductosCarrito").text('(' + productos.length + ')');

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                html += '<div class="item-in-cart clearfix">' +
                       '    <div class="image">' +
                '             <img src="/ImgProductos/' + this.Imagen + '"  width="124" height="124" alt="cart item" />' +
                '           </div>' +
                '           <div class="desc">' +
                '                 <strong><a href="product.html">' + this.Denominacion + '</a></strong>' +
                '                <span class="light-clr qty">Qty: ' + this.Cantidad + ' &nbsp;' +
                '                       <a href="#" class="icon-remove-sign" title="Remove Item"></a>' +
                '                    </span>' +
                '                </div>' +
                '                <div class="price">' +
                '                   <strong>S/. ' + this.Precio + '</strong>' +
                '               </div>' +
                '           </div>';
            });
            $('#itemcarrito').html(html);

            $("#totalCompraCarrito,#totalCarrito").text('S/.' + total);

        }

        function AgregarCarrito(productoid, denominacion, imagen, precio) {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < productos.length; i++) {
                if (productos[i].ProductoId == productoid) {
                    itemActual = productos[i];
                }
            }

            if (!itemActual) {
                productos.push({ ProductoId: productoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);

            CargaCarrito(productos);

        }

    </script>

</body>
</html>